h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: royalblue;
    font-size: 5vw;
    text-align: center;
    padding-bottom: 3vh;
}

h2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vw;
    color: black;
    text-align: center;
    padding-bottom: 2vh;
}

div
{
    color: #444444;
    text-align: center;
}

img
{
    padding-bottom: 2vh;
}

.ourName
{
    color: black;
}

.aboutUsCol, .creatorsCol
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
    text-align: center;
}

.aboutSuli, .aboutMitch
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6vw;
}

.suliImg, .mitchImg
{
    width: 50%;
}

.emails
{
    margin-top: 2vh;
}