.h1-about
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: royalblue;
    font-size: 5vw;
    text-align: center;
    padding-bottom: 3vh;
}

.h2-about, .h2-help
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4vw;
    color: black;
    text-align: center;
    padding-bottom: 3vh;
}

.divCenter
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #444444;
    text-align: center;
    font-size: 1.6vw;
    padding-bottom: 4vh;
}

img
{
    padding-bottom: 2vh;
}

.ourName
{
    color: black;
}

.aboutUsCol, .creatorsCol
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
    color: #444444;
    text-align: center;
}

.aboutSuli, .aboutMitch
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #444444;
    font-size: 1.6vw;
}

.suliImg, .mitchImg
{
    width: 50%;
}

.emails
{
    color: black;
    font-size: 2vw;
    margin-top: 3vh;
}